# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
# Gerado pelo `flutter pub get`, não versionado.
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.apk
*.aab

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
